<template>
  <form class="create-wrapper" @submit.prevent="createNewElement">
    <label class="create-item">
      Element Title
      <input
        type="text"
        v-model="currentElement.label"
        required
        placeholder="Element Title"
      />
    </label>
    <label class="create-item">
      Element Size
      <Dropdown v-model="currentElement.class" :items="sizes" />
    </label>
    <label class="create-item">
      Select parent element
      <Dropdown
        v-model="currentElement.parentElement"
        :items="connectedElementList"
      />
    </label>
    <div class="button-wrapper">
      <button type="button" @click="addItem">Add Dropdown Item</button>
    </div>
    <label class="create-item answers">
      Dropdown items
      <div
        v-for="item in currentElement.items"
        :key="item.value"
        class="dropdown-item"
      >
        <input
          type="text"
          v-model="item.name"
          placeholder="Item title"
          required
        />
        <div class="subitems-wrapper">
          <div
            class="subitems-item"
            v-for="subitem in item.subItems"
            :key="subitem.value"
          >
            <input
              type="text"
              v-model="subitem.name"
              placeholder="Subitem title"
              required
            />
            <button
              type="button"
              class="delete-item"
              @click="deleteSubitem(item, subitem.value)"
            >
              <svg
                xmlns:dc="http://purl.org/dc/elements/1.1/"
                xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                version="1.1"
                id="svg2"
                height="25"
                width="25"
                sodipodi:docname="close_icon_grey.svg"
                inkscape:export-filename="D:\Загрузки\close_icon_black2.svg.png"
                inkscape:export-xdpi="72.959999"
                inkscape:export-ydpi="72.959999"
                inkscape:version="0.92.3 (2405546, 2018-03-11)"
              >
                <defs id="defs13" />
                <g
                  transform="translate(3.9661017,3.5677966)"
                  id="imagebot_2"
                  label="Layer 1"
                >
                  <path
                    inkscape:connector-curvature="0"
                    stroke-miterlimit="4"
                    d="M -2.5783352e-4,-0.00146808 17.435473,18.212367"
                    id="imagebot_5"
                  />
                  <path
                    inkscape:connector-curvature="0"
                    stroke-miterlimit="4"
                    d="M -2.5783352e-4,18.212367 17.435473,-0.00146808"
                    id="imagebot_4"
                  />
                  <title id="title9">Layer 1</title>
                </g>
              </svg>
            </button>
          </div>
        </div>
        <div class="dropdown-item__buttons">
          <button type="button" @click="addSubitem(item.value)">
            Add Sub Item
          </button>
          <button
            type="button"
            class="delete-item"
            @click="deleteItem(item.value)"
          >
            <svg
              xmlns:dc="http://purl.org/dc/elements/1.1/"
              xmlns:cc="http://creativecommons.org/ns#"
              xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
              xmlns:svg="http://www.w3.org/2000/svg"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
              xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
              version="1.1"
              id="svg2"
              height="25"
              width="25"
              sodipodi:docname="close_icon_grey.svg"
              inkscape:export-filename="D:\Загрузки\close_icon_black2.svg.png"
              inkscape:export-xdpi="72.959999"
              inkscape:export-ydpi="72.959999"
              inkscape:version="0.92.3 (2405546, 2018-03-11)"
            >
              <defs id="defs13" />
              <g
                transform="translate(3.9661017,3.5677966)"
                id="imagebot_2"
                label="Layer 1"
              >
                <path
                  inkscape:connector-curvature="0"
                  stroke-miterlimit="4"
                  d="M -2.5783352e-4,-0.00146808 17.435473,18.212367"
                  id="imagebot_5"
                />
                <path
                  inkscape:connector-curvature="0"
                  stroke-miterlimit="4"
                  d="M -2.5783352e-4,18.212367 17.435473,-0.00146808"
                  id="imagebot_4"
                />
                <title id="title9">Layer 1</title>
              </g>
            </svg>
          </button>
        </div>
      </div>
    </label>
    <div class="button-wrapper">
      <button type="submit">Create new element</button>
    </div>
  </form>
</template>

<script setup>
import Dropdown from "@/components/DropdownComponent/DropdownComponent.vue";
import { ref, computed, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import uuid from "@/assets/js/uuid";

const route = useRoute();
const router = useRouter();
const itemsForConnectedElements = ref([]);
const connectedElementList = ref([]);
const surveyList = ref([]);
const sizes = [
  {
    name: "1 cell",
    value: "one-of-four",
  },
  {
    name: "2 cell",
    value: "two-of-four",
  },
  {
    name: "3 cell",
    value: "three-of-four",
  },
  {
    name: "full",
    value: "full",
  },
];
const currentElement = ref({
  id: uuid(),
  type: "dropdown",
  class: "one-of-four",
  parentElement: null,
  label: "",
  value: "",
  inputType: "",
  max: "",
  min: "",
  closeOnClick: true,
  items: [],
});

function addItem() {
  const newItem = {
    value: uuid(),
    name: "",
    subItems: [],
  };
  currentElement.value.items.push(newItem);
}

function addSubitem(id) {
  const currentItem = currentElement.value.items.find(
    (item) => item.value === id
  );
  const newItem = {
    value: uuid(),
    name: "",
  };
  currentItem.subItems.push(newItem);
  console.log(currentItem.subItems);
}

function deleteItem(value) {
  const isConfirm = confirm("Are sure?");
  if (isConfirm) {
    currentElement.value.items.splice(
      currentElement.value.items.findIndex((item) => item.value === value),
      1
    );
  }
}

function deleteSubitem(item, subItemId) {
  const isConfirm = confirm("Are sure?");
  if (isConfirm) {
    item.subItems.splice(
      item.subItems.findIndex((item) => item.value === subItemId),
      1
    );
  }
}

function createNewElement() {
  if (currentElement.value.parentElement === null) {
    if (currentElement.value.items.length < 2) {
      alert("Add at least 2 items for dropdown");
      return;
    }
  }

  if (isSubitems.value) {
    const allSubItemsExitst = currentElement.value.items.every(
      (item) => item.subItems.length >= 2
    );
    if (!allSubItemsExitst) {
      alert("Add at least 2 subitems for all dropdown items");
      return;
    } else {
      currentElement.value.items.forEach((el) => {
        itemsForConnectedElements.value[el.value] = el.subItems;
      });
      localStorage.setItem(
        "itemsForConnectedElements",
        JSON.stringify(itemsForConnectedElements.value)
      );
    }
  }
  const { id } = route.params;
  const currentElementIndex = surveyList.value.findIndex((el) => el.id === id);
  surveyList.value[currentElementIndex].questions.push({
    ...currentElement.value,
  });
  localStorage.setItem("surveyList", JSON.stringify(surveyList.value));
  router.push({ name: "elements", params: { id } });
}

const isSubitems = computed(() => {
  return currentElement.value.items.some((item) => item.subItems.length > 0);
});

onMounted(() => {
  const { id } = route.params;
  surveyList.value = JSON.parse(localStorage.getItem("surveyList"));
  const currentElement = surveyList.value.find((el) => el.id === id);
  connectedElementList.value = currentElement.questions
    .filter((item) => item.type === "dropdown")
    .map(({ id, label }) => {
      return {
        name: label,
        value: id,
      };
    });
  itemsForConnectedElements.value = JSON.parse(
    localStorage.getItem("itemsForConnectedElements")
  );
});
</script>

<style lang="scss" scoped>
.dropdown-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .subitems-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .subitems-item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5px;
      input {
        width: 70%;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    button {
      padding: 15px;
      border-radius: 8px;
      border: none;
      color: white;
      background-color: #42b983;
    }
  }
}
.delete-item {
  padding: 0 !important;
  background-color: transparent !important;
  width: 25px;
  height: 25px;
  border: none;
  svg {
    path {
      opacity: 1;
      fill: #5f6368;
      stroke: #5f6368;
      stroke-width: 3.23161912;
      stroke-linecap: round;
      stroke-miterlimit: 4;
      fill-opacity: 1;
      stroke-opacity: 1;
    }
  }
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #42b983;
    color: white;
  }
}
</style>
