<template>
  <form class="create-wrapper" @submit.prevent="createNewElement">
    <label class="create-item">
      Element Title
      <input
        type="text"
        v-model="currentElement.label"
        required
        placeholder="Element Title"
      />
    </label>
    <label class="create-item">
      Element Size
      <Dropdown v-model="currentElement.class" :items="sizes" />
    </label>
    <label class="create-item">
      Min length
      <input type="number" v-model="currentElement.min" placeholder="Min" />
    </label>
    <label class="create-item">
      Max length
      <input type="number" v-model="currentElement.max" placeholder="Max" />
    </label>
    <div class="button-wrapper">
      <button type="submit">Create new element</button>
    </div>
  </form>
</template>

<script setup>
import Dropdown from "@/components/DropdownComponent/DropdownComponent.vue";
import { ref, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import uuid from "@/assets/js/uuid";

const route = useRoute();
const router = useRouter();
const surveyList = ref([]);
const sizes = [
  {
    name: "1 cell",
    value: "one-of-four",
  },
  {
    name: "2 cell",
    value: "two-of-four",
  },
  {
    name: "3 cell",
    value: "three-of-four",
  },
  {
    name: "full",
    value: "full",
  },
];
const currentElement = ref({
  id: uuid(),
  type: "textarea",
  class: "one-of-four",
  parentElement: null,
  label: "",
  value: "",
  inputType: "",
  closeOnClick: true,
  max: 225,
  min: 0,
  items: [],
});

function createNewElement() {
  const { id } = route.params;
  const currentElementIndex = surveyList.value.findIndex((el) => el.id === id);
  surveyList.value[currentElementIndex].questions.push({
    ...currentElement.value,
  });
  localStorage.setItem("surveyList", JSON.stringify(surveyList.value));
  router.push({ name: "elements", params: { id } });
}

onMounted(() => {
  surveyList.value = JSON.parse(localStorage.getItem("surveyList"));
});
</script>

<style lang="scss" scoped>
.dropdown-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .subitems-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .subitems-item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5px;
      input {
        width: 70%;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    button {
      padding: 15px;
      border-radius: 8px;
      border: none;
      color: white;
      background-color: #42b983;
    }
  }
}
.delete-item {
  padding: 0 !important;
  background-color: transparent !important;
  width: 25px;
  height: 25px;
  border: none;
  svg {
    path {
      opacity: 1;
      fill: #5f6368;
      stroke: #5f6368;
      stroke-width: 3.23161912;
      stroke-linecap: round;
      stroke-miterlimit: 4;
      fill-opacity: 1;
      stroke-opacity: 1;
    }
  }
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #42b983;
    color: white;
  }
}
</style>
