<template>
  <div class="element-wrapper">
    <h2>{{ props.label }}</h2>
    <RadioButton
      v-for="item in props.items"
      :key="item.value"
      :value="item.value"
      :label="item.name"
      v-model="currentValue"
    />
  </div>
</template>

<script setup>
import { defineProps, defineEmits, ref, watchEffect } from "vue";
import RadioButton from "../RadioButton/RadioButton.vue";

const emit = defineEmits(["change"]);
const props = defineProps({
  label: {
    type: String,
    default: "Label",
  },
  items: {
    type: Array,
    default: () => [],
  },
});

const currentValue = ref([]);
watchEffect(() => {
  emit("change", currentValue.value);
});
</script>

<style lang="scss" scoped></style>
