<template>
  <label class="element-wrapper">
    Select element Type
    <Dropdown v-model="elementType" :items="elementTypeArray" />
  </label>
  <KeepAlive>
    <component :is="myComponent" />
  </KeepAlive>
</template>

<script setup>
import Dropdown from "@/components/DropdownComponent/DropdownComponent.vue";
import UIDropdownCreate from "@/components/ElementCreateComponents/UIDropdownCreate.vue";
import UIDatepickerCreate from "@/components/ElementCreateComponents/UIDatepickerCreate.vue";
import UICheckboxCreate from "@/components/ElementCreateComponents/UICheckboxCreate.vue";
import UIRadioCreate from "@/components/ElementCreateComponents/UIRadioCreate.vue";
import UIInputCreate from "@/components/ElementCreateComponents/UIInputCreate.vue";
import UITextareaCreate from "@/components/ElementCreateComponents/UITextareaCreate.vue";

import { ref, onMounted, computed } from "vue";
import { useRoute } from "vue-router";

const test = {
  null: "",
  dropdown: UIDropdownCreate,
  datepicker: UIDatepickerCreate,
  checkbox: UICheckboxCreate,
  radio: UIRadioCreate,
  input: UIInputCreate,
  textarea: UITextareaCreate,
};

const elementTypeArray = [
  {
    name: "UIDropdown",
    value: "dropdown",
  },
  {
    name: "UICheckbox",
    value: "checkbox",
  },
  {
    name: "UIDatePicker",
    value: "datepicker",
  },
  {
    name: "UIRadio",
    value: "radio",
  },
  {
    name: "UIInput",
    value: "input",
  },
  {
    name: "UITextarea",
    value: "textarea",
  },
];
const route = useRoute();
const elementType = ref(null);

const myComponent = computed(() => {
  return test[elementType.value];
});

onMounted(() => {
  console.log(route);
});
</script>

<style lang="scss" scoped>
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  button[type="button"] {
    padding: 15px;
    border-radius: 8px;
    border: none;
  }
}
.elements {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
</style>
