<template>
  <h3>
    In this page you can delete element form survey and add new element to
    survey
  </h3>
  <div class="button-wrapper">
    <button type="button" @click="createNewElement">Add Element</button>
  </div>
  <div class="elements-list">
    <div
      v-for="element in currentSurvey.questions"
      :key="element.id"
      class="elements-item"
    >
      <h3>{{ element.label }}</h3>
      <button type="button" @click="deleteElement(element.id)">
        <svg
          xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:svg="http://www.w3.org/2000/svg"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
          xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
          version="1.1"
          id="svg2"
          height="25"
          width="25"
          sodipodi:docname="close_icon_grey.svg"
          inkscape:export-filename="D:\Загрузки\close_icon_black2.svg.png"
          inkscape:export-xdpi="72.959999"
          inkscape:export-ydpi="72.959999"
          inkscape:version="0.92.3 (2405546, 2018-03-11)"
        >
          <defs id="defs13" />
          <g
            transform="translate(3.9661017,3.5677966)"
            id="imagebot_2"
            label="Layer 1"
          >
            <path
              inkscape:connector-curvature="0"
              stroke-miterlimit="4"
              d="M -2.5783352e-4,-0.00146808 17.435473,18.212367"
              id="imagebot_5"
            />
            <path
              inkscape:connector-curvature="0"
              stroke-miterlimit="4"
              d="M -2.5783352e-4,18.212367 17.435473,-0.00146808"
              id="imagebot_4"
            />
            <title id="title9">Layer 1</title>
          </g>
        </svg>
      </button>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";

const surveyList = ref([]);
const currentSurvey = ref({});
const route = useRoute();
const router = useRouter();

function setElementsList() {
  surveyList.value = JSON.parse(localStorage.getItem("surveyList"));
  const { id } = route.params;
  currentSurvey.value = surveyList.value.find((el) => el.id === id);
}

function createNewElement() {
  const { id } = route.params;
  router.push({ name: "elementCreate", params: { id } });
}

function deleteElement(id) {
  const isConfirm = confirm("Are sure?");
  if (isConfirm) {
    currentSurvey.value.questions.splice(
      currentSurvey.value.questions.findIndex((el) => el.id === id),
      1
    );
    surveyList.value.splice(
      surveyList.value.findIndex((el) => el.id === currentSurvey.value.id),
      1,
      currentSurvey.value
    );
    localStorage.setItem("surveyList", JSON.stringify(surveyList.value));
  }
}

onMounted(() => {
  setElementsList();
});
</script>

<style lang="scss">
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  button[type="button"] {
    background-color: #42b983;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 15px;
  }
}
.elements {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      border: none;
      outline: none;
      background-color: transparent;
    }
    svg {
      path {
        opacity: 1;
        fill: #5f6368;
        stroke: #5f6368;
        stroke-width: 3.23161912;
        stroke-linecap: round;
        stroke-miterlimit: 4;
        fill-opacity: 1;
        stroke-opacity: 1;
      }
    }
  }
}
</style>
