<template>
  <div class="home">
    <h3>Click on title to select survey to edit</h3>
    <form class="create-survey" @submit.prevent="createSurvey">
      <button type="button" @click="showForm = true">Create New Survey</button>
      <input
        type="text"
        v-show="showForm"
        v-model="surveyName"
        placeholder="Survey Name"
      />
      <div class="create-buttons" v-show="showForm">
        <button type="submit">Create Survey</button>
        <button type="button" class="cancel" @click="cancel">Cancel</button>
      </div>
    </form>
    <div class="home-list">
      <div
        v-for="survey in surveyList"
        :key="survey.id"
        class="home-item"
        @click="goElementsList(survey.id)"
      >
        <h2>{{ survey.name }}</h2>
      </div>
    </div>
  </div>
</template>

<script setup>
import uuid from "@/assets/js/uuid";
import { ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();
const surveyList = ref(JSON.parse(localStorage.getItem("surveyList")));
const showForm = ref(false);
const surveyName = ref("");

function goElementsList(id) {
  router.push({ name: "elements", params: { id } });
}

function createSurvey() {
  const newSurvey = {
    id: uuid(),
    name: surveyName.value,
    questions: [],
  };

  surveyList.value.push(newSurvey);
  localStorage.setItem("surveyList", JSON.stringify(surveyList.value));
  cancel();
}

function cancel() {
  showForm.value = false;
  surveyName.value = "";
}
</script>

<style lang="scss" scoped>
.create {
  &-survey {
    display: flex;
    flex-direction: column;
    gap: 15px;
    button {
      background-color: #42b983;
      color: white;
      border-radius: 8px;
      border: none;
      padding: 15px;
      width: max-content;
      &.cancel {
        background-color: #2c3e50;
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  &-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  &-item {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
</style>
