<template>
  <h3>Click on title to select survey to fill the survey</h3>
  <div class="home">
    <div
      v-for="survey in surveyList"
      :key="survey.id"
      class="home-item"
      @click="goSurveyFill(survey.id)"
    >
      <h2>{{ survey.name }}</h2>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();
const surveyList = ref(JSON.parse(localStorage.getItem("surveyList")));

function goSurveyFill(id) {
  router.push({ name: "surveyFill", params: { id } });
}
</script>

<style lang="scss" scoped>
h3 {
  margin-bottom: 15px;
}
.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  &-item {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
</style>
