<template>
  <div class="element-wrapper">
    <h2>{{ props.label }}</h2>
    <DropdownComponent
      v-model="currentValue"
      :items="props.items"
      @active="active"
    />
  </div>
</template>

<script setup>
import { defineEmits, ref, watchEffect } from "vue";
import DropdownComponent from "@/components/DropdownComponent/DropdownComponent.vue";

const emit = defineEmits(["change", "click"]);
// eslint-disable-next-line no-undef
const props = defineProps({
  label: {
    type: String,
    default: "Label",
  },
  items: {
    type: Array,
    default: () => [],
  },
});

function active() {
  emit("click");
}
const currentValue = ref("");
watchEffect(() => {
  emit("change", currentValue.value);
});
</script>

<style lang="scss" scoped></style>
