<template>
  <div class="element-wrapper">
    <h2>{{ props.label }}</h2>
    <input
      v-model="currentValue"
      :minlength="props.min"
      :maxlength="currentMax"
      :type="props.inputType"
      placeholder="Type text"
    />
  </div>
</template>

<script setup>
import { defineProps, defineEmits, ref, watchEffect, computed } from "vue";

const emit = defineEmits(["change"]);
const props = defineProps({
  label: {
    type: String,
    default: "Label",
  },
  min: {
    type: Number,
    default: 0,
  },
  max: {
    type: Number,
    default: 255,
  },
  inputType: {
    type: String,
    default: "text",
  },
});

const currentValue = ref(null);
const currentMax = computed(() => {
  return props.max === 0 ? 255 : props.max;
});
watchEffect(() => {
  if (props.inputType === "number") {
    currentValue.value =
      +currentValue.value > +props.max ? props.max : currentValue.value;
  }
  emit("change", currentValue.value);
});
</script>

<style lang="scss" scoped></style>
