<template>
  <div class="element-wrapper">
    <h2>{{ props.label }}</h2>
    <textarea
      v-model="currentValue"
      :maxlength="currentMax"
      :minlength="props.min"
      placeholder="Type text"
    ></textarea>
  </div>
</template>

<script setup>
import { defineProps, defineEmits, ref, watchEffect, computed } from "vue";

const emit = defineEmits(["change"]);
const props = defineProps({
  label: {
    type: String,
    default: "Label",
  },
  min: {
    type: Number,
    default: 0,
  },
  max: {
    type: Number,
    default: 255,
  },
});
const currentMax = computed(() => {
  return props.max === 0 ? 255 : props.max;
});
const currentValue = ref(null);
watchEffect(() => {
  emit("change", currentValue.value);
});
</script>

<style lang="scss" scoped></style>
