<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/survey-select">Survey Select</router-link>
  </nav>
  <router-view />
</template>

<script setup>
import { onBeforeMount } from "vue";
import uuid from "@/assets/js/uuid";

onBeforeMount(() => {
  if (localStorage.getItem("surveyList") === null) {
    const surveyList = [
      {
        id: uuid(),
        name: "Survey 1",
        questions: [
          {
            id: uuid(),
            type: "checkbox",
            value: "",
            label: "Checkbox element",
            class: "one-of-four",
            inputType: "",
            max: 0,
            min: 0,
            closeOnClick: false,
            parentElement: null,
            items: [
              {
                name: "Checkbox anwer 1",
                value: "Checkbox anwer 1",
              },
              {
                name: "Checkbox anwer 2",
                value: "Checkbox anwer 2",
              },
              {
                name: "Checkbox anwer 3",
                value: "Checkbox anwer 3",
              },
            ],
          },
          {
            id: 8,
            type: "dropdown",
            value: "",
            label: "Dropdown parent",
            class: "two-of-four",
            inputType: "",
            max: 0,
            min: 0,
            closeOnClick: false,
            parentElement: null,
            items: [
              {
                name: "America",
                value: "241",
              },
              {
                name: "Asia",
                value: "242",
              },
              {
                name: "Centeral Asia",
                value: "243",
              },
            ],
          },
          {
            id: uuid(),
            type: "dropdown",
            value: "",
            label: "Dropdown child which get items from Dropdown parent",
            class: "three-of-four",
            parentElement: 8,
            inputType: "",
            max: 0,
            min: 0,
            items: [],
          },
          {
            id: uuid(),
            type: "datepicker",
            value: "",
            label: "Datepicker",
            class: "full",
            inputType: "",
            closeOnClick: false,
            max: 0,
            min: 0,
            parentElement: null,
            items: [],
          },
          {
            id: uuid(),
            type: "datepicker",
            value: "",
            label: "Datepicker with close on select date",
            class: "full",
            inputType: "",
            closeOnClick: true,
            max: 0,
            min: 0,
            parentElement: null,
            items: [],
          },
          {
            id: uuid(),
            type: "input",
            value: "",
            label: "Number input",
            class: "one-of-four",
            inputType: "number",
            closeOnClick: false,
            max: 0,
            min: 0,
            parentElement: null,
            items: [],
          },
          {
            id: uuid(),
            type: "input",
            value: "",
            label: "Passowrd input",
            class: "one-of-four",
            inputType: "password",
            closeOnClick: false,
            max: 0,
            min: 0,
            parentElement: null,
            items: [],
          },
          {
            id: uuid(),
            type: "input",
            value: "",
            label: "Text input",
            class: "one-of-four",
            inputType: "text",
            closeOnClick: false,
            max: 0,
            min: 0,
            parentElement: null,
            items: [],
          },
          {
            id: uuid(),
            type: "textarea",
            value: "",
            label: "Text area",
            class: "one-of-four",
            closeOnClick: false,
            parentElement: null,
            max: 0,
            min: 0,
            items: [],
          },
          {
            id: uuid(),
            type: "radio",
            value: "",
            label: "Radio button element",
            class: "one-of-four",
            closeOnClick: false,
            parentElement: null,
            max: 0,
            min: 0,
            items: [
              {
                name: "Radio 1",
                value: "input-question",
              },
              {
                name: "Radio 2",
                value: "select-question",
              },
              {
                name: "Radio 3",
                value: "multiple-question",
              },
              {
                name: "Radio 4",
                value: "Radio 4",
              },
            ],
          },
        ],
      },
    ];
    localStorage.setItem("surveyList", JSON.stringify(surveyList));
  }
  if (localStorage.getItem("itemsForConnectedElements") === null) {
    const itemsForConnectedElements = {
      241: [
        {
          name: "America",
          value: "America",
        },
        {
          name: "Canada",
          value: "Canada",
        },
        {
          name: "Mexico",
          value: "Mexico",
        },
      ],
      242: [
        {
          name: "China",
          value: "China",
        },
        {
          name: "Korea",
          value: "Korea",
        },
        {
          name: "Japan",
          value: "Japan",
        },
      ],
      243: [
        {
          name: "Uzbekistan",
          value: "Uzbekistan",
        },
        {
          name: "Kazakstan",
          value: "Kazakstan",
        },
        {
          name: "Tajikistan",
          value: "Tajikistan",
        },
      ],
    };
    localStorage.setItem(
      "itemsForConnectedElements",
      JSON.stringify(itemsForConnectedElements)
    );
  }
});
</script>

<style lang="scss">
nav {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-active {
      color: #42b983;
    }
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
