<template>
  <div class="element-wrapper">
    <h2>{{ props.label }}</h2>
    <Datepicker v-model="currentValue" :auto-apply="closeOnClick" />
  </div>
</template>

<script setup>
import { defineProps, defineEmits, ref, watchEffect } from "vue";
import Datepicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";

const emit = defineEmits(["change"]);
const props = defineProps({
  label: {
    type: String,
    default: "Label",
  },
  closeOnClick: {
    type: Boolean,
    default: false,
  },
});

const currentValue = ref(new Date());
watchEffect(() => {
  emit("change", currentValue.value);
});
</script>

<style lang="scss" scoped></style>
